In [2]:
import time
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

dir_path = os.getcwd()
data_dir = "data/"

These are the scores created by Gregor Samsa (@Octo_bery on twitter) from [this spreadsheet](https://docs.google.com/spreadsheets/d/1cSh4Jg3UU9g2FUqi98I-XmvloBU-MYH-KV1M2UcgWWg/edit#gid=0).

In [56]:
df_scores = pd.read_csv(data_dir + "scores.csv")
df_scores.columns = ["artists", "album", "score", "gender"]
df_scores.artists = df_scores.artists.str.lower()
df_scores.album = df_scores.album.str.lower()
df_scores.head()

        artists                          album score gender
0   miley cyrus  miley cyrus and her dead petz     1      F
1  lana del rey                  ultraviolence     2      F
2         uffie     sex dreams and denim jeans     2      F
3  willow smith                   ardipithecus     3      F
4    charli xcx                   true romance     3      F

In [57]:
df_albums = pd.read_csv(data_dir + "albums.csv", sep = ";")
df_albums.head()

            id          artist                             album
0  0vFTfoOavRM  perfume genius  set my heart on fire immediately
1  nwJ88RCBcfE    moses sumney                               græ
2  4uNlwM0ZfY8       yung lean                             starz
3  HRZcBNjlPQI      charli xcx               how i'm feeling now
4  LqBsfpdHXX0          future                     high off life

In [67]:
df_id_scores = pd.merge(df_scores, df_albums, on = "album", how = "inner")
df_id_scores = df_id_scores.drop_duplicates()
df_id_scores = df_id_scores.iloc[:, :-1]
df_id_scores

,artists,album,score,gender,id
0,miley cyrus,miley cyrus and her dead petz,1,F,4J4GjCE_KPw
1,lana del rey,ultraviolence,2,F,SXDRPJLqh8Y
2,uffie,sex dreams and denim jeans,2,F,LwDNWYvFpYs
3,willow smith,ardipithecus,3,F,Numr-bT7e6w
4,willow,ardipithecus,3,F,Numr-bT7e6w
...,...,...,...,...,...
1928,godsmack,when legends rise,Not Good,NaN,SMUocQXGbqc
1929,blink-182,california,Not Good,NaN,BLDUp1DAsf4
1930,meshuggah,the violent sleep of reason,Not Good,NaN,ejL8k6Qri4g
1931,dj khaled,father of asahd,Not Good,M,3UetWwNf9ms
1932,highly suspect,mcid,Not Good,NaN,n8yFCmjXZeE

In [71]:
df_transcripts = pd.read_csv(data_dir + "full_transcripts.csv", sep = ";")
df_transcripts = pd.merge(df_id_scores, df_transcripts, on = "id")
df_transcripts = df_transcripts.drop_duplicates()
df_transcripts = df_transcripts.dropna()
df_transcripts

,artists,album,score,gender,id,full_transcript
7,miley cyrus,miley cyrus and her dead petz,1,F,4J4GjCE_KPw,no no don't do it don't Pappa Miley don't pop ...
43,lana del rey,ultraviolence,2,F,SXDRPJLqh8Y,hi everyone Anthony Fantana here the Internet'...
89,uffie,sex dreams and denim jeans,2,F,LwDNWYvFpYs,20 to lose faith now puffy sex dreams and deni...
102,willow smith,ardipithecus,3,F,Numr-bT7e6w,I've never been in this situation uh hi everyo...
134,willow,ardipithecus,3,F,Numr-bT7e6w,I've never been in this situation uh hi everyo...
...,...,...,...,...,...,...
61468,nav,reckless,Not Good,M,m1EiUEIdMr4,let's go let's go this is reckless the latest ...
61537,xxxtentacion,bad vibes forever,Not Good,M,VyzhfhARDr0,uh this new xxx tent ah see own album it's not...
61572,desiigner,new english,Not Good,M,5lBwkRsID1Q,uh the new designer mixtape is not good at thi...
61644,ed sheeran,no.6 collaborations project,Not Good,M,ieu3Hp4LcSg,this new Ed Sheeran record it's it's not good ...
61772,dj khaled,father of asahd,Not Good,M,3UetWwNf9ms,this dj khaled album it's not good father of A...

In [73]:
df_transcripts.to_csv(data_dir + "album_transcripts.csv", index = False, sep = ";")